<img src="./assets/images/fundo.png" class="fundo" alt="">
<div class="externa">
  <div class="main p-5">
    <img src="./assets/images/logo.png" alt="">
    <span class="main-title mb-3 text-center">
      Selecione o tipo de busca <br> que você deseja fazer
    </span>
    <button class="btn btn-outline-dark mb-3" type="button" (click)="btnTaxonomica()">Validação Taxonômica</button>
    <button class="btn btn-outline-dark mb-3" type="button" (click)="btnOcorrencia()">Busca de Ocorrência</button>
  </div>
</div>
